body{
    margin: 0;
    padding: 0;
    background-color: green;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.face{
    margin: 0;
    height: 200px;
    width: 170px;
    background: burlywood;
    border-radius: 90%;
    flex-direction: column;
}
.hat{
    margin: auto;
    height: 40px;
    width: 140px;
    background: #fff;
    border-radius: 30px;
}

.eye_part{
    display: flex;
    place-content: center;
    margin: auto;
    flex-direction: row;
}

.eye{
    height: 40px;
    width: 30px;
    border-radius: 100%;
    background: #fff;
    margin: 10px;
    display: flex;
}

.pupil{
    margin: auto;
    height: 10px;
    width: 10px;
    background: #000;
    border-radius: 100%;
}


.beard{
    position: relative;
    margin: auto;
    height: 100px;
    width: 170px;
    background: #fff;
}

.nose{
    margin: auto;
    height: 30px;
    width: 30px;
    border-radius: 60%;
    background: burlywood;
}

.mouth{
    margin: auto;
    margin-top: 10px;
    height: 10px;
    width: 30px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #000;
}

.corpo{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 250px;
    margin: 0;
    background-color: red;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px
}

.button{
    margin: auto;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: yellow;
}