body, .circle{
    background-color: #35a66f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.circle{
    background-color: green;
    height: 300px;
    width: 300px;
    border-radius: 500%;
    display: grid;
    place-content: center;
}

.container{
    height: 300px;
    width: 150px;
    display: grid;
    place-content: center;
}

.face{
    height: 150px;
    width: 130px;
    border-radius: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;

}
.hat{
    height: 40px;
    width: 130px;
    background-color: whitesmoke;
    border-radius: 30px;
}

.eye_part{
    padding-top: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.eye{
    height: 30px;
    width: 20px;
    border-radius: 150%;
    background-color: black;
}

.beard{
    height: 70px;
    width: 130px;
    background-color: white;
}

.nose{
    display: flex;
    place-content: center;
    margin: auto;
    height: 20px;
    width: 25px;
    border-radius: 500%;
    background-color: burlywood;
}

.mouth{
    display: flex;
    justify-content: center;
    margin: auto;

    height: 7px;
    width: 30px;
    background-color: black;
    margin-top: 15px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.corpo{
    height: 30px;
    width: 30px;
    background-color: red;
}